@model IEnumerable<WebApplication1.Models.DiseaseModels>

@{
    ViewBag.Title = "Index";
}

<h2>Ваша история заявок</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocFIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Policy_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Qualification)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocFIO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Policy_number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FIO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Recept)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Disease)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}
</table>
